:root {
  --bg-color-light: #FFFFFF; /* White */
  --bg-color-dark: #000000; /* Black */
}

.light {
  --bg-color: var(--bg-color-light);
}

.dark {
  --bg-color: var(--bg-color-dark);
}

body {
  background-color: var(--bg-color);
}